
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="height: calc(100vh - 110px)">
    <div class="row">
        <div class="col-4 pt-3 pb-2">
            <div class="card">
                <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250" data-holder-rendered="true">
            </div>
        </div>
        <div class="col-4 pt-3 pb-2">
            <div class="card">
                <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250"  data-holder-rendered="true">
            </div>
        </div>
        <div class="col-4 pt-3 pb-2">
            <div class="card">
                <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250"  data-holder-rendered="true">
            </div>
        </div>
        <div class="col-4 pt-3 pb-2">
            <div class="card">
                <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250"  data-holder-rendered="true">
            </div>
        </div>
        <div class="col-4 pt-3 pb-2">
            <div class="card">
                <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250"  data-holder-rendered="true">
            </div>
        </div>
        <div class="col-4 pt-3 pb-2">
            <div class="card">
                <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250"  data-holder-rendered="true">
            </div>
        </div>
        <div class="col-4 pt-3 pb-2">
            <div class="card">
                <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250"  data-holder-rendered="true">
            </div>
        </div>

    </div>
</div>
