@{
    ViewData["Title"] = "Home Page";
}

<div class="main">
    <div class="bglayer">
        <img data-src="holder.js/1920x1080" class="img-fluid" alt="100%x250" data-holder-rendered="true">
    </div>
</div>
<div class="container" style="height: 100vh">
    <div class="row align-items-center h-100">
        <div class="col-12 mx-auto pb-25p">
            <div class="display-3 text-center">Welcome To Snacks</div>
            <div class="mt-3">
                <p class="text-center" style="font-weight: 400">
                    Come and eat well with our delicious & healthy foods
                </p>
            </div>
            <div class="row">
                <div class="col text-center">
                    <a asp-controller="Home" asp-action="Reservation"><button type="button" class="btn btn-primary mt-3">Reservation</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="position: relative;">
    <div style="text-align: center; padding-top: 80px; text-align: justify; height: 600px">
        <p class="display-4 text-center">Our Serivce</p>
        <hr style="background-color: rgba(255, 255, 255, 0.5)" class="mb-5 w-50" />
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner text-center p-5 container">
                <div class="carousel-item active">
                    <h5><strong>Always Fresh Food</strong></h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate finibus turpis sed tempus. Vivamus non ex non metus placerat mattis eget in dui. Vivamus egestas orci quis convallis venenatis. Curabitur ultricies quam neque, ut finibus elit pharetra ac. Vestibulum ac cursus felis, quis varius purus. Nulla posuere id ante nec ornare. Mauris rhoncus at massa in faucibus. Proin id ullamcorper purus. Mauris sit amet convallis velit. Nam quis lacus tempus, aliquam ipsum vel, gravida ex. Donec turpis odio, accumsan et ante vel, aliquet mollis justo. Fusce in aliquam augue. Ut sit amet cursus lorem.</p>
                </div>
                <div class="carousel-item">
                    <h5><strong>Best Chef Cooks</strong></h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate finibus turpis sed tempus. Vivamus non ex non metus placerat mattis eget in dui. Vivamus egestas orci quis convallis venenatis. Curabitur ultricies quam neque, ut finibus elit pharetra ac. Vestibulum ac cursus felis, quis varius purus. Nulla posuere id ante nec ornare. Mauris rhoncus at massa in faucibus. Proin id ullamcorper purus. Mauris sit amet convallis velit. Nam quis lacus tempus, aliquam ipsum vel, gravida ex. Donec turpis odio, accumsan et ante vel, aliquet mollis justo. Fusce in aliquam augue. Ut sit amet cursus lorem.</p>
                </div>
                <div class="carousel-item">
                    <h5><strong>Award-Winning Menu</strong></h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate finibus turpis sed tempus. Vivamus non ex non metus placerat mattis eget in dui. Vivamus egestas orci quis convallis venenatis. Curabitur ultricies quam neque, ut finibus elit pharetra ac. Vestibulum ac cursus felis, quis varius purus. Nulla posuere id ante nec ornare. Mauris rhoncus at massa in faucibus. Proin id ullamcorper purus. Mauris sit amet convallis velit. Nam quis lacus tempus, aliquam ipsum vel, gravida ex. Donec turpis odio, accumsan et ante vel, aliquet mollis justo. Fusce in aliquam augue. Ut sit amet cursus lorem.</p>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<div style="position:relative; background-color: rgb(243,244,244)">
    <div class="container pt-5 pb-5">
        <h1 class="text-center pb-5">Our Specials</h1>
        <div class="row">
            <div class="col-lg-4 col-sm-12 pb-2">
                <div class="card">
                    <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250" data-holder-rendered="true">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Example Title #1</strong></h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur commodo ultrices suscipit. Integer tempor venenatis neque, id accumsan mauris elementum ac. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 pb-2">
                <div class="card">
                    <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250" data-holder-rendered="true">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Example Title #1</strong></h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur commodo ultrices suscipit. Integer tempor venenatis neque, id accumsan mauris elementum ac. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 pb-2">
                <div class="card">
                    <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250" data-holder-rendered="true">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Example Title #1</strong></h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur commodo ultrices suscipit. Integer tempor venenatis neque, id accumsan mauris elementum ac. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-12 pb-2">
                <div class="card">
                    <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250" data-holder-rendered="true">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Example Title #1</strong></h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur commodo ultrices suscipit. Integer tempor venenatis neque, id accumsan mauris elementum ac. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 pb-2">
                <div class="card">
                    <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250" data-holder-rendered="true">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Example Title #1</strong></h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur commodo ultrices suscipit. Integer tempor venenatis neque, id accumsan mauris elementum ac. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 pb-2">
                <div class="card">
                    <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250" data-holder-rendered="true">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Example Title #1</strong></h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur commodo ultrices suscipit. Integer tempor venenatis neque, id accumsan mauris elementum ac. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="position:relative;">
    <div class="container pt-5 pb-5">
        <h1 class="text-center pb-5">Find Our Restaurant</h1>
        <img data-src="holder.js/1100x400" class="img-fluid" alt="100%x250" data-holder-rendered="true">
    </div>
</div>