
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-4 pt-3 pb-2">
            <div class="card">
                <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250" data-holder-rendered="true">
                <div class="card-body">
                    <h5 class="card-title"><strong>Example Title #1</strong></h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur commodo ultrices suscipit. Integer tempor venenatis neque, id accumsan mauris elementum ac. </p>
                </div>
            </div>
        </div>
        <div class="col-4 pt-3 pb-2">
            <div class="card">
                <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250" data-holder-rendered="true">
                <div class="card-body">
                    <h5 class="card-title"><strong>Example Title #1</strong></h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur commodo ultrices suscipit. Integer tempor venenatis neque, id accumsan mauris elementum ac. </p>
                </div>
            </div>
        </div>
        <div class="col-4 pt-3 pb-2">
            <div class="card">
                <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250" data-holder-rendered="true">
                <div class="card-body">
                    <h5 class="card-title"><strong>Example Title #1</strong></h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur commodo ultrices suscipit. Integer tempor venenatis neque, id accumsan mauris elementum ac. </p>
                </div>
            </div>
        </div>
        <div class="col-4 pt-3 pb-2">
            <div class="card">
                <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250" data-holder-rendered="true">
                <div class="card-body">
                    <h5 class="card-title"><strong>Example Title #1</strong></h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur commodo ultrices suscipit. Integer tempor venenatis neque, id accumsan mauris elementum ac. </p>
                </div>
            </div>
        </div>
        <div class="col-4 pt-3 pb-2">
            <div class="card">
                <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250" data-holder-rendered="true">
                <div class="card-body">
                    <h5 class="card-title"><strong>Example Title #1</strong></h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur commodo ultrices suscipit. Integer tempor venenatis neque, id accumsan mauris elementum ac. </p>
                </div>
            </div>
        </div>
        <div class="col-4 pt-3 pb-2">
            <div class="card">
                <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250" data-holder-rendered="true">
                <div class="card-body">
                    <h5 class="card-title"><strong>Example Title #1</strong></h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur commodo ultrices suscipit. Integer tempor venenatis neque, id accumsan mauris elementum ac. </p>
                </div>
            </div>
        </div>
        <div class="col-4 pt-3 pb-2">
            <div class="card">
                <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250" data-holder-rendered="true">
                <div class="card-body">
                    <h5 class="card-title"><strong>Example Title #1</strong></h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur commodo ultrices suscipit. Integer tempor venenatis neque, id accumsan mauris elementum ac. </p>
                </div>
            </div>
        </div>
        <div class="col-4 pt-3 pb-2">
            <div class="card">
                <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250" data-holder-rendered="true">
                <div class="card-body">
                    <h5 class="card-title"><strong>Example Title #1</strong></h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur commodo ultrices suscipit. Integer tempor venenatis neque, id accumsan mauris elementum ac. </p>
                </div>
            </div>
        </div>
        <div class="col-4 pt-3 pb-2">
            <div class="card">
                <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250" data-holder-rendered="true">
                <div class="card-body">
                    <h5 class="card-title"><strong>Example Title #1</strong></h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur commodo ultrices suscipit. Integer tempor venenatis neque, id accumsan mauris elementum ac. </p>
                </div>
            </div>
        </div>

    </div>
</div>
