.main {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: ' ';
    height: 100%;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.bglayer {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

body {
    font-family: 'Raleway', sans-serif !important;
}
.pb-15p {
    padding-bottom: 15%;
}

.pb-25p {
    padding-bottom: 25%;
}

.pt-15p {
    padding-top: 15%;
}

.pb-10p {
    padding-bottom: 10%;
}

.pt-10p {
    padding-top: 10%;
}

.pr-10p {
    padding-right: 10%;
}

a.disabled {
    color: gray;
    pointer-events: none;
}

body, html, .container-fluid {
    height: 100%;
}

.wrapper {
    min-height: 100vh;
    max-height: 100%;
}

main {
    height: 100%;
    overflow-y: auto;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators{
    filter: invert(100%);
}